<head>
 <link rel="stylesheet" href="image.css">
</head>
<div class="nav">
  <h1 class="head">Compress My Image</h1>
</div>
<div class="main">
  <img  alt="hello" width="" src="<%=url%>">

  <h1 id="hen"></h1>
</div>

<form class="" action="/compress/<%=name%>/<%=ext%>" method="post">

  <input type="submit" name="" value="compress" class="click">
</form>
<script type="text/javascript">
  var a=document.getElementsByClassName('click');
  a[0].addEventListener('click',()=>{
    var b=document.getElementById('hen');
    b.innerHTML="File will download shortly";
  })
</script>
