<head>

</head>
<link rel="stylesheet" href="styles.css">
<div class="nav">
  <h1 class="head">Compress My Image</h1>
</div>
<div class="main">
  <form class="" action="/" method="post" enctype="multipart/form-data">
    <label for="image"><img src="select image.png" alt=""></label>
    <input type="file" name="image" id="image">
    <br>
    <input type="submit" name="" value="Upload" class="ubtn">
  </form>
</div>
